/* style.css */

body {
    display: flex;
    flex-flow: column wrap;

    height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    min-width: 40vw;
    min-height: 60vh;
    display: grid;
    grid-template-rows: 0.5fr 1fr 4fr;
}

#keypad {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0;
}

#history {
    border: 0.5px solid red;
}

#display {
    border: 0.5px solid red;
    text-align: end;
    justify-content: center;
    font-family: 'Segoe UI';
    font-size: 2rem;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    padding: 0.4rem;
}

[data-action='equals'] {
    grid-column: span 2;
}

button {
    margin: 0;
    padding: 0;
}
