/* style.css */

@font-face {
    font-family: 'inter';
    src: url('../fonts/inter-variablefont_slntwght-webfont.woff2')
            format('woff2'),
        url('../fonts/inter-variablefont_slntwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

:root {
    /* 3.4 */
    --font: 'inter';
    --font-size: 3.4rem;
}

html {
    font-family: var(--font), sans-serif;
}

body {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: var(--font), sans-serif;
    margin: 0;
    padding: 0;
}

main {
    width: 360px;
    height: 600px;
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-rows: 0.5fr 1.5fr 4fr;
}

#keypad {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1px;
    border-radius: 2px;
}

#header {
    border: 1px dashed red;
}

#display {
    border: 0.5px solid red;
    text-align: end;
    justify-content: center;
    font-size: var(--font-size);
    overflow: hidden;
    padding: 0.8rem;
    overflow-wrap: break-word;
}

button:nth-child(1) {
    background-color: #ee786e;
}

button:nth-child(17) {
    grid-column: span 2;
}

button:nth-child(19) {
    background-color: #a2ccb6;
}

button {
    font-family: var(--font), sans-serif;
    font-size: 1.6rem;
    border: 1px solid #000000;
    background-color: #fffff4;
    border-radius: 2px;
    display: inline-flex;
    align-items: flex-end;
}
